<section class="jumbotron">
  <header>
    <nav class="container">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#resume">Resume</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <div class="container welcome-text">
    <h1>I'm Aneta Kałamacka</h1>
    <p>I'm Wrocław based fronted developer, who loves to create beautiful web applications for customers around the word. Let's start scrolling and learn more about me.</p>
    <div class="social-icons">
      <div class="icon">
        <a href="https://www.linkedin.com/in/aneta-kalamacka/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <div class="icon">
        <a href="https://github.com/andziaoo7" target="_blank"><i class="fab fa-github"></i></a>
      </div>
      <div class="icon">
        <a href="skype:aneta_kalamacka?chat"><i class="fab fa-skype"></i></a>
      </div>
    </div>
  </div>
  <div class="container scroll-section">
    <div class="scroll-icon">
      <a href="#main"><i class="fas fa-chevron-down"></i></a>
    </div>
  </div>
</section>
<section id="main" class="main-section">
  <div class="container">
    <div id="about">
      <h2>About</h2>
      Hi! My name is Aneta Kałamacka and I'm frontend developer with over 2 years of commercial experience. During these years I was working on international projects using:
      <ul>
        <li>AngularJS</li>
        <li>Angular 2/4/5/6</li>
        <li>HTM5</li>
        <li>CSS3</li>
        <li>ES6+</li>
        <li>TypeScript</li>
        <li>Sass</li>
        <li>Bootstrap</li>
        <li>Jasmin with Karma</li>
        <li>Jira</li>
        <li>GitHub</li>
      </ul>
      When I'm not coding I'm riding a bike, going to concerts and cinemas. My other passion is cooking and baking and of course eating but to be honest, who don't love this part?
    </div>
    <div id="resume">
      <h2>Resume</h2>
      If you would like to see my resume, you can download it.
      <button (click)="downloadResume()">Download Rsume</button>
    </div>
    <div id="contact">
      <h2>Contact</h2>
      Do you have any questions? Just send me an email or contact me using other social medias
      Aneta Kałamacka
      a.kalamacka@gmail.com
      aneta_kalamacka
      linkedin
    </div>
  </div>
</section>
<footer></footer>

